* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #252525;
}

header {
    background-color: #000;
    color: #fff;
}

nav a {
    text-decoration: none;   
    color: unset;  /* não tem cor */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}