
:root {
    --background-body: #252525;
    --background-topbar: #000;
    --color-primary-top: #fff;
    --background-card: #fff;
    --text-card: #252525;
    --text-label: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
    margin: 0;
} */

html, body {
    background-color: var(--background-body) !important;
}

/* Topo da Página */
header {
    background-color: var(--background-topbar);
    color: var(--color-primary-top);
    height: 60px;
    display: flex !important;
    align-items: center;
}

nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

header nav i {
    font-size: 25px;
}

nav a, nav a:hover {
    text-decoration: none;   
    color: unset;  /* não tem cor */
    font-size: 12px;
    font-weight: 400;
}

.ds-movie-contact-container {
    display: flex;
    align-items: center;
}

.ds-movie-contact-container i {
    margin-right: 10px;
}


/* Cards */
#dsmovie-card-list {
    padding: 40px 0;
}

.dsmovie-card {
    width: 100%; 

}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px 20px;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}

.dsmovie-card-description h3 {
   margin-bottom: 25px; 
   font-size: 14px;
   font-weight: 700;
   text-align: center;
}

.dsmovie-btn, .dsmovie-btn:hover {
    border: 0;
    width: 180px;
    height: 40px;
    background-color: var(--background-topbar);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
}

.dsmovie-form-container{    
    padding: 40px;
    max-width: 480px !important;
}

.dsmovie-form-description {
    background-color: var(--background-card);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form {
    width: 100%;
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-group label{
    color: var(--text-label);
    font-size: 12px;
}

.dsmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}